/* Use your own code or past solution for Great Idea Web Page CSS here! */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1.6;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
	margin: 0;
}

html,
body {
	height: 100%;
	/* font-family: 'Exo 2', sans-serif; */
	/* font-family: 'Titillium Web', sans-serif; */
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Bangers', cursive;
	letter-spacing: 1px;
	margin-bottom: 15px;
}

/* Your code starts here! */

body {
	margin: 0px 75px 75px 75px;
	/* font-family: 'Red Hat Display', sans-serif; */
}
.nav-container{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 30px;;
}

nav {
    display: flex;
    flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	font-family: 'Aldrich', sans-serif;
    font-size: 20px;
    width:100%;
}

nav a {
	display: flex;
	color: red;
	margin: 20px 0;
	text-decoration: none;
	color: lightgray;
}



.change-page {
	position: absolute;
	margin-right: 60px;
	margin-top: 100px;
}

.logo {
	width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
   text-align: center;
}
.logo-div{
    display: flex;
    justify-content: center;
}
header{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header h1{
    font-size:5rem;
    text-align: center;
}


header img{
    display:none;
}
header button {
    padding: 2px 30px;
}


hr {
	margin-top: 85px;
	margin-bottom: 50px;
}

.top-content{
    margin:20px 0;
    width:100%;
}
.top-content div{
    margin: 20px 0;
}



.middle-img {
	width: 100%;
	margin-top: 30px;
}

.bottom-content{
    margin: 20px 0;
}
.bottom-content div{
    margin:30px 0;
}



footer {
	text-align: center;
	margin-bottom: 100px;
	margin-top: 50px;
}

/* Media Queries */




/* MEDIA QUERIES ________FIXME: */


@media screen and (min-width:750px){
    .logo-div{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .nav-container{
        display:flex;
        flex-direction: row;
       
    }
    nav{
    display: flex;
    flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
    font-size: 20px;
    width:100%;
    }
    header {
	display: flex;
	justify-content: center;
	align-items: center;
    width: 100%;

}
    header h1{
        font-size:6rem;
    }
    header img {
        display: block;
        height: 650px;
        margin-left: 70px;
        margin-top: 10px;
        width: 45%;
    }
    header button{
        padding: 10px 60px;
        margin:40px;
        background:none;
    }
    .top-content{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    
    }
    .top-content p{
        line-height: 1.4;
    }
    .bottom-content{
        display: flex;
        justify-content:center;
        margin:30px 0;
    }
    .bottom-content div {
        justify-content: space-around;
        display:flex;
        flex-direction: column;
    }

}

/* TABLET___________TABLET FIXME:*/

@media screen and (min-width:750px){
   
    .nav-container{
        display:flex;
        flex-direction: column-reverse;
        margin: 40px 0;
        /* background:red; */
       
    }
    nav{
    display: flex;
    flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
    font-size: 20px;
    width:100%;
    margin-top: 20px;
    }
}
@media screen and (min-width:1000px){
    .nav-container{
        display: flex;
        flex-direction: row;
        
    }

}












/* @media screen and (max-width:900px){
    .logo-div{
        display: flex;
        justify-content: center;
        align-items: center;
    }
   
    .nav-container{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 50px;
   
    }
    body{
        margin:0 10%;
    }
    nav{
        width: 100%;
    }
    nav a{
        margin: 60px 0;
    }
    .nav-container{
        margin-top: 30px;
    }
    header img{
        
        display: none;
    }
    header h1 {
        font-size:80px;
        text-align: center;
      
    }
    header button{
        margin-top: 100px;
    }

} */

/* PHONE+++++++++PHONE++++++FIXME: */
/* @media screen and (max-width:600px){
    nav a{
        width:100%;
        display: flex;
        justify-content: center;
        margin:10px 0;
        padding-top:15px;
        border-top: 1px solid rgb(176, 176, 176);

    }
    nav{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .logo-div{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .nav-container{
        width:100%;
    }
    header h1{

        font-size: 60px;
        margin-top: 30px;
        /* color:blue */
    
    /* header{
        width:60%;
        margin-top: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    header button{
       padding:5px 40px;
       font-size: 10px;
    }
    .top-content{
        flex-direction: column;
        width:100%;

    }
    .top-content div{
      
        width: 100%;
        margin: 20px 0;
    }
    .middle-img{
        margin:30px 0;
    }
    .bottom-content{
        flex-direction: column;
        width:100%;
    }
    .bottom-content div {
        width:100%;
    }
} */
 

/* SERVICE */
/* Product page FIXME: */

/* .product-desktop-img {
	display: flex;
	width: 100%;
	height: 250px;
	margin-top: 20px;
}
.product-title h1 {
	font-size: 50px;
	margin-top: 20px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.product-title p {
	font-size: 20px;
	line-height: 1.2;
}
.grid-container {
	display: flex;
	flex-wrap: wrap;
}

.grid-wrapper {
	margin: 20px 20px;
	font-size: 20px;
	border: 2px solid black;
	height: 35%;
	width: 46%;
	background-color: rgb(238, 238, 238);
}

.grid-wrapper h2 {
	margin: 20px 20px;
	font-size: 30px;
	font-family: sans-serif;
}

.grid-wrapper p {
	margin: 20px 20px;
	font-size: 20px;
	line-height: 1.3;
}
.grid-wrapper button {
	margin: 20px 20px;
}

.product-foot {
	display: flex;
	/* justify-content:space-between */
}
.foot-wrapper {
	width: 47%;
}

.foot-wrapper h1 {
	font-size: 30px;
	font-family: sans-serif;
}
.foot-wrapper p {
	font-size: 1.1rem;
	line-height: 1.2;
}
.dot-list {
	margin-top: 30px;
}
.dot-list li {
	margin-top: 20px;
}
.foot-img {
	width: 45%;
	margin-left: 40px;
	margin-bottom: 60px;
	height: 350px;
} */

footer {
	text-align: center;
	margin-bottom: 100px;
	margin-top: 50px;
}



/* Media Queries  Service FIXME:
@media screen and (max-width:1200px){
    .grid-container{
        justify-content: center;
        width:100%;
        
    }
    .grid-wrapper{
        width:100%;
        text-align: center;
    }
    
}
@media screen and (max-width: 900px) {
	.grid-wrapper {
        width: 100%;
        text-align: center;
    }
    .grid-container{
        width: 100%;
        justify-content: center;
        align-items: center;
        
	}
	.foot-wrapper{
		text-align: center;
	}
	nav {
		width: 100%;
		flex-wrap: wrap;
		justify-content: space-around;
	}
}
@media screen and (max-width: 1000px) {
	.product-foot {
		flex-direction: column;
		width: 100%;
	}
	.foot-wrapper {
		width: 100%;
	}
	.foot-img {
        display:none;
    }
    .new-foot{
        display:block;
        width: 100%;
		margin-top: 30px;
        margin-left: 0;
    }
	.product-foot p {
		width: 100%;
	}
}

@media screen and (min-width:1000px){
	.new-foot{
		display:none;
	}
}

 */






